.mxgraph-import-export-toolbar {
  position: fixed;
  z-index: 100;
  bottom: 6px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 2px;
  margin: 5px;

  box-shadow: 0px 0px 5px rgb(162, 162, 162);
  border-radius: 3px;
  background-color: #fff;

  &:hover:not(:disabled) {
    background-color: #fffec8;
  }

  &:disabled {
    color: rgba(122, 122, 122, 0.5);
    cursor: not-allowed;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 5px;

    border: none;
    font-size: 26px;
    cursor: pointer;
    color: rgb(122, 122, 122);
    background-color: transparent;

    svg {
      flex-shrink: 0;
    }
  }
}

.mxgraph-import-export-adapter-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);

  .card-modal {
    position: relative;
    width: 400px;
    padding: 20px 24px;

    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
      helvetica neue, Arial, noto sans, sans-serif;
    font-size: 14px;
    line-height: 20px;
    border: 0;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.88);
    background-color: #fff;

    &__actions {
      display: flex;
      justify-content: flex-end;
      margin-top: 12px;
    }

    .confirm-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      min-width: 75px;
      padding: 4px 15px;

      font-size: 14px;
      border: 1px solid #d9d9d9;
      border-radius: 6px;
      background-color: #fff;
      outline: none;
      cursor: pointer;

      &:hover {
        color: #4096ff;
        border-color: #4096ff;
      }
    }
  }
}
